.footer {
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.footer .footer__nav .footer__list {
  display: flex;
  color: #003569;
}

.footer__nav .footer__list .footer__list-item {
  margin-right: 10px;
}

.footer .footer__copy {
  color: #999;
}
