.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 50px;
  background: white;
  border-bottom: 1px solid #e6e6e6;
}

.navigation__links {
  font-size: 24px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.navigation__input {
  padding: 5px 20px;
  font-size: 14px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fafafa;
}
