.profile {
  margin: 0 auto;
  width: 100%;
  margin-top: 60px;
}

.profile__header {
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.profile .profile__bio {
  display: inline-block;
}

.profile .profile__header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.profile .profile__images img {
  margin: 0 auto;
  width: 30%;
}
